/**
 * Custom Font Families - Satoshi, Switzer & Manier
 * 
 * Usage with inline styles:
 *   style={{ fontFamily: 'Satoshi' }}
 *   style={{ fontFamily: 'Switzer' }}
 *   style={{ fontFamily: 'Manier' }}
 * 
 * Usage in CSS/CSS Modules:
 *   font-family: 'Satoshi', sans-serif;
 *   font-family: 'Switzer', sans-serif;
 *   font-family: 'Manier', sans-serif;
 * 
 * Available weights:
 *   Satoshi: 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Black)
 *   Switzer: 100 (Thin), 200 (Extralight), 300 (Light), 400 (Regular), 
 *            500 (Medium), 600 (Semibold), 700 (Bold), 800 (Extrabold), 900 (Black)
 *   Manier: 100 (Thin), 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Heavy)
 * 
 * Both fonts support variable font format for better performance
 */

/* Manier Font Family */
@font-face {
  font-family: Manier;
  font-style: normal;
  font-weight: 300;
  src: url('/Manier/Manier-Light-Trial-BF650bbeaf2e95e.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: Manier;
  font-style: italic;
  font-weight: 300;
  src: url('/Manier/Manier-LightItalic-Trial-BF650bbeae96b2a.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: Manier;
  font-style: normal;
  font-weight: 400;
  src: url('/Manier/Manier-Regular-Trial-BF650bbeaf2fb28.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: Manier;
  font-style: italic;
  font-weight: 400;
  src: url('/Manier/Manier-RegularItalic-Trial-BF650bbeaea2011.otf') format('opentype');
  font-display: swap;
}

/* Satoshi Font Family */
@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 300 900;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: italic;
  font-weight: 300 900;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-VariableItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 300;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 400;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 700;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 900;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2') format('woff2'),
       url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff') format('woff');
  font-display: swap;
}

/* Switzer Font Family */
@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 100 900;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Variable.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Variable.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: italic;
  font-weight: 100 900;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-VariableItalic.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-VariableItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 100;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Thin.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 200;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extralight.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extralight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 300;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Light.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 400;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 500;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Medium.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 600;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Semibold.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 700;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Bold.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 800;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extrabold.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Extrabold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 900;
  src: url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Black.woff2') format('woff2'),
       url('/Switzer_Complete/Fonts/WEB/fonts/Switzer-Black.woff') format('woff');
  font-display: swap;
}

/* Antonia H1 Font Family */
@font-face {
  font-family: 'Antonia H1';
  font-style: normal;
  font-weight: 300;
  src: url('/font/AntoniaH1-Light.woff2') format('woff2'),
       url('/font/AntoniaH1-Light.woff') format('woff'),
       url('/font/AntoniaH1-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Antonia H1';
  font-style: italic;
  font-weight: 300;
  src: url('/font/AntoniaH1-LightItalic.woff2') format('woff2'),
       url('/font/AntoniaH1-LightItalic.woff') format('woff'),
       url('/font/AntoniaH1-LightItalic.ttf') format('truetype');
  font-display: swap;
}
