.card {
  width: 100%;
  max-width: 1400px;
  height: 280px;
  margin: 0 auto;
  background: #252c2c;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

/* Responsive */
@media (width <= 768px) {
  .card {
    height: auto;
    min-height: 240px;
  }
}

